
VITE_API_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=REDACTED_FIREBASE_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=REDACTED_FIREBASE_AUTH_DOMAIN
VITE_FIREBASE_PROJECT_ID=REDACTED_PROJECT_ID
VITE_FIREBASE_APP_ID=REDACTED_FIREBASE_APP_ID
VITE_CLOUDINARY_CLOUD_NAME=REDACTED_CLOUDINARY_NAME
VITE_CLOUDINARY_PRESET=REDACTED_CLOUDINARY_PRESET
